<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Driver</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Driver</servlet-name>
    <url-pattern>/driver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DriverSelection</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.DriverSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverSelection</servlet-name>
    <url-pattern>/driverselection</url-pattern>
  </servlet-mapping>
	<servlet>
    <servlet-name>Team</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Team</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Lineup</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.LineupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lineup</servlet-name>
    <url-pattern>/lineup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Results</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.ResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Standings</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.StandingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Standings</servlet-name>
    <url-pattern>/standings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminAdvanced</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.AdminAdvancedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdvanced</servlet-name>
    <url-pattern>/admin/advanced</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAPI</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.AdminAPIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAPI</servlet-name>
    <url-pattern>/admin/api</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSetLineup</servlet-name>
    <servlet-class>com.eleichtenschlag.nascar.AdminSetLineupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSetLineup</servlet-name>
    <url-pattern>/admin/lineup</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
    <web-resource-collection>
      <url-pattern>/team*</url-pattern>
      <url-pattern>/driver*</url-pattern>
      <url-pattern>/lineup*</url-pattern>
      <url-pattern>/results*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/admin*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
